* {
    margin:          0;
    padding:         0;
    box-sizing:      border-box;
    text-decoration: none;
    outline:         none;
    vertical-align:  baseline;
}

html, body {
    width:    100vw;
    height:   100vh;
    position: relative;
    overflow: hidden;
}

#wrapperScrollable, #wrapperGhost {
    width:         45%;
    height:        40%;
    display:       block;
    position:      fixed;
    left:          5%;
    background:    #7D2C2B;
    overflow:      auto;
    border-radius: 3px;
    z-index:       2;
}

#wrapperScrollable {
    top:    0;
    bottom: 0;
    margin: auto 0;
    resize: vertical;
}

#wrapperGhost {
    height:        auto;
    width:         calc(45% - 17px);
    border-radius: 10px;
    background:    #DFDFDF;
    overflow:      visible;
    z-index:       1;
}

#wrapperScrollable .element, #wrapperGhost .element {
    display:       block;
    width:         420px;
    height:        150px;
    margin:        0 auto 20px;
    border-radius: 10px;
    background:    rgba(0, 0, 0, .25);
    box-shadow:    inset 1px 1px 5px rgba(0, 0, 0, .2);
}

#wrapperScrollable .element:first-child, #wrapperGhost .element:first-child {
    margin-top: 20px;
}